
.button_section {
    display: flex;
    gap: 30px;
}

body {
    background-color: #F3F5FC !important;
}

.button_encriptar {
    height: 67px;
    width: 328px;
    border-radius: 24px;
    color: white;
    background-color: #0A3871;
    outline: none;
    border: none;
    cursor: pointer;
}

.button_desencriptar {
    height: 67px;
    width: 328px;
    border-radius: 24px;
    color: #0A3871;;
    background-color: #D8DFE8;
    outline: none;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4% 4px 20px 8%;
    gap: 40px;
}
.logo {
    position: absolute;
    top: 20;
    left: 5%;
}

.first_section {
    width: 60%;
}

.input_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.icon {
    color: white;
    border: 1px solid black;
    background-color: #495057;
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.p_section {
    color: #495057;
    display: flex;
    align-items: center;
    gap: 10px;
}

.input {
    height: 623px;
    font-size: 32px;
    color: #0A3871;
    outline: none;
    border: none;
    background-color: #F3F5FC;
    resize: none;
}

.message_section {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-size: 24px;
    
}

.message_text {
    max-height: 61vh;
    overflow-y: auto;
}

.message_section > button {
    height: 67px;
    width: 336px;
    border: 1px solid #0A3871;
    color: #0A3871;
    border-radius: 24px;
    cursor: pointer;
}

::placeholder {
    color: #0A3871;
}

.second_section {
    border-radius: 36px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    box-shadow: 0px 5px 5px 5px #e9eaeb;
    animation: sombraAnimacion 2s infinite;
    color: #495057;
    background-color: white;
    
    
}

@keyframes sombraAnimacion {
    0% {
        box-shadow: 0px 5px 5px 5px #e9eaeb;
    }
    50% {
        box-shadow: 0px 10px 10px 10px #e9eaeb;
    }
    100% {
        box-shadow: 0px 5px 5px 5px #e9eaeb;
    }
}

.not_found_message {
    display: none;
    /*display: flex;*/
    flex-direction: column;
    gap: 20px;
}

.not_found_message > h2 {
    font-size: 24px;
}

.not_found_message > p {
    font-size: 16px;
}